@charset "UTF-8";
/*&:before{
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
@include old-ie{
  *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
  );
  .before{
    background: url("../image/sub.png") 0px 0px no-repeat;
    width: 20px;
    height: 12px;      
    position: absolute;
    left: -1px;
    top: 2px; 
  }
}*/
body {
  word-wrap: normal;
}

#user-login input {
  border: 1px solid #ABADB3;
}

#user-register-form input {
  border: 1px solid #ABADB3;
}

.st-pusher {
  min-height: 511px;
}

.js .disn {
  display: block;
}

.widget_invisible, .js .invi, .js .mse_pre_init, .js .an_invi {
  visibility: visible;
}

#page {
  min-height: auto;
}

.mymessage {
  width: 900px;
}
.mymessage .messages {
  width: 100%;
}

.myaccordion_left {
  background-color: #ff625f;
  margin-right: -10000px;
  position: relative;
  width: 454px;
  z-index: 868;
}

.myaccordion_right {
  background-color: #ff625f;
  left: 480px;
  margin-right: -10000px;
  position: relative;
  width: 454px;
  z-index: 743;
}

.velo {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  width: 960px;
}
.velo_clear {
  clear: both;
}
.velo .view-content {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  clear: none;
}
.velo .view-content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .velo .view-content {
  height: 1%;
}
.velo_filters {
  float: right;
}
.velo:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .velo {
  height: 1%;
}
.velo .views-exposed-form {
  position: relative;
}
.velo .views-exposed-form .views-exposed-widget {
  padding: 0px;
}
.velo .views-exposed-form .bef-select-as-links .form-item-edit-field-typevelo-tid-all {
  display: none;
}
.velo .views-exposed-form .bef-select-as-links .form-type-bef-link {
  float: left;
}
.velo .views-exposed-form .bef-select-as-links a {
  display: block;
  color: #0e76bc;
  font-size: 20px;
  line-height: 30px;
  min-height: 29px;
  text-align: center;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 5px 0px 5px;
  margin: 0px 0px 0px 15px;
}
.velo .views-exposed-form .bef-select-as-links a:visited {
  color: #0e76bc;
}
.velo .views-exposed-form .bef-select-as-links a:hover {
  color: #0e76bc;
}
.velo .views-exposed-form .bef-select-as-links a:active {
  color: #0e76bc;
}
.velo .views-exposed-form .bef-select-as-links a:focus {
  color: #0e76bc;
}
.velo .views-exposed-form .bef-select-as-links a:hover {
  background-color: #c9c9c9;
}
.velo .views-exposed-form .bef-select-as-links a.active {
  background-color: #e74c3c;
  color: #ffffff;
}
.velo .views-exposed-form .bef-select-as-links a.active:visited {
  color: #ffffff;
}
.velo .views-exposed-form .bef-select-as-links a.active:hover {
  color: #ffffff;
}
.velo .views-exposed-form .bef-select-as-links a.active:active {
  color: #ffffff;
}
.velo .views-exposed-form .bef-select-as-links a.active:focus {
  color: #ffffff;
}
.velo .views-exposed-form .ajax-progress {
  position: absolute;
  top: 8px;
  left: -10px;
}
.velo .views-exposed-form .ajax-progress .throbber {
  background: transparent url("../images/ajax-loader.gif") no-repeat 0px 0px;
  /* tweak this according to your gif */
  float: left;
  height: 16px;
  /* tweak this according to your gif */
  width: 16px;
  /* tweak this according to your gif */
  margin: 0px;
}
.velo_top {
  float: left;
}
.velo_top h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
  width: 146px;
  float: left;
}

.node-type-display-access .logo, .page-taxonomy-term .logo {
  float: none;
  padding: 0px;
  width: auto;
}

.myaccess {
  width: 960px;
}
.myaccess tbody {
  border-top: none;
}

.myitem {
  margin: 0px 0px 0px 13px;
  display: block;
  clear: none;
  float: left;
  width: 454px;
}
.myitem:nth-child(2n) {
  margin: 0px 0px 0px 26px;
}
.myitem:nth-child(2n) .myimage {
  float: right;
  margin: 8px 0px 8px 16px;
}
.myitem:nth-child(2n) .myprice {
  float: left;
}

.myimage {
  background: transparent url("../images/loupe44.jpg") no-repeat scroll left top/cover;
  border-color: #2c3e51;
  color: #000000;
  margin-right: -10000px;
  min-height: 161px;
  position: relative;
  width: 270px;
  z-index: 136;
  margin: 8px 16px 8px 0px;
  width: 270px;
  float: left;
}

.myprice {
  margin: 48px 0px 0px 0px;
  width: 168px;
  float: right;
}
.myprice_wrap {
  background-color: transparent;
  font-family: open-sans,sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin-right: -10000px;
  min-height: 62px;
  position: relative;
  width: 183px;
  z-index: 149;
}

.mydescr {
  background-color: transparent;
  color: #2c3e51;
  min-height: 96px;
  position: relative;
  width: 454px;
  z-index: 137;
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  width: 454px;
}
.mydescr:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .mydescr {
  height: 1%;
}
.mydescr p {
  font-family: open-sans,sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.myaccord {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  width: 454px;
}
.myaccord:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .myaccord {
  height: 1%;
}

.mywrap {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  width: 454px;
}
.mywrap:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .mywrap {
  height: 1%;
}

/* .st-content {
  overflow-y: scroll;
  background: #f3efe0;
}
*/
.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  /*background: rgba(0,0,0,0.2);*/
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #2C3E51;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */
.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.st-menu span.closeBtn {
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  float: right;
  cursor: pointer;
  font-size: 40px;
  font-family: trebuchet;
}

.st-menu span.closeBtn:hover {
  color: rgba(255, 255, 255, 0.5);
}

.st-menu h2 {
  margin: 0;
  padding: 1em;
  color: #000000;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 30px;
  font-family: 'Arial';
}

.st-menu ul li a {
  display: block;
  padding: 15px;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  color: #f3efe0;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 15px;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
  text-decoration: none;
  font-family: "Arial";
}

.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px transparent;
  color: #ffffff;
}

/* Individual effects */
/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
  display: none;
}

/* Effect 2: Reveal */
.st-effect-2.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-2.st-menu {
  z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
  display: none;
}

/* Effect 3: Push*/
.st-effect-3.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-3.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-effect-3.st-menu::after {
  display: none;
}

/* Effect 4: Slide along */
.st-effect-4.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-4.st-menu {
  z-index: 1;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
  display: none;
}

/* Effect 5: Reverse slide out */
.st-effect-5.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-5.st-menu {
  z-index: 1;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}

.st-effect-5.st-menu-open .st-effect-5.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Effect 6: Rotate pusher */
.st-effect-6.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect-6 .st-pusher {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0) rotateY(-15deg);
  transform: translate3d(300px, 0, 0) rotateY(-15deg);
}

.st-effect-6.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-6.st-menu-open .st-effect-6.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
  transform: translate3d(-100%, 0, 0) rotateY(15deg);
}

.st-effect-6.st-menu::after {
  display: none;
}

/* Effect 7: 3D rotate in */
.st-effect-7.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-7 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-7.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-effect-7.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Effect 8: 3D rotate out */
.st-effect-8.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-8 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-8.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-8.st-menu-open .st-effect-8.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.st-effect-8.st-menu::after {
  display: none;
}

/* Effect 9: Scale down pusher */
.st-effect-9.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect-9 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-9.st-menu-open .st-pusher {
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}

.st-effect-9.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-9.st-menu-open .st-effect-9.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-9.st-menu::after {
  display: none;
}

/* Effect 10: Scale up */
.st-effect-10.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-10.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-10.st-menu {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}

.st-effect-10.st-menu-open .st-effect-10.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Effect 11: Scale and rotate pusher */
.st-effect-11.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect-11 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-11.st-menu-open .st-pusher {
  -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
  transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.st-effect-11.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-11.st-menu-open .st-effect-11.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-11.st-menu::after {
  display: none;
}

/* Effect 12: Open door */
.st-effect-12.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect-12 .st-pusher {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
  display: none;
}

/* Effect 13: Fall down */
.st-effect-13.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-13.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-13.st-menu {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.st-effect-13.st-menu-open .st-effect-13.st-menu {
  visibility: visible;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-speed: 0.2s;
  transition-speed: 0.2s;
}

/* Effect 14: Delayed 3D rotate */
.st-effect-14.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.st-effect-14 .st-pusher {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-14.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-14.st-menu {
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-14.st-menu-open .st-effect-14.st-menu {
  visibility: visible;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
  transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* .no-csstransforms3d .st-pusher,
 .no-js .st-pusher {
  padding-left: 300px;
}*/
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.main {
  max-width: 69em;
  margin: 0 auto;
}

.column {
  float: left;
  width: 100px;
  /*padding: 0 2em;
  min-height: 300px;
  position: relative;
  text-align: right;*/
}

.column:nth-child(2) {
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
  text-align: left;
}

.column button {
  border: none;
  padding: 5px 10px;
  background: #388a5a;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

.column button:hover {
  background: #2c774b;
  color: #ffffff;
}

.st-menu .logo img {
  margin: 5px 0 0 0;
  width: 80px;
  height: 80px;
}

.st-menu .logo {
  clear: both;
}

.navigation {
  cursor: pointer;
}

.pager_bottom {
  text-align: center;
  padding: 28px 0px 0px 0px;
}

.mypager {
  margin: 0px 0px 0px 169px;
  position: relative;
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
  float: left;
}
.mypager:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .mypager {
  height: 1%;
}
.pager_bottom .mypager {
  margin: 0px 0px 0px 0px;
  clear: both;
  float: none;
  display: inline-block;
  vertical-align: bottom;
}
.mypager_text {
  background-color: #2c3e51;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 29px;
  text-align: center;
  width: 50px;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  float: left;
}
.mypager_item {
  float: left;
  background-color: #e74c3c !important;
  padding: 0px !important;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 29px;
  text-align: center;
  width: 29px;
  font-weight: 800;
  font-family: open-sans,sans-serif;
}
.mypager_item a {
  display: block;
  background-color: #2c3e51;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 29px;
  text-align: center;
  width: 29px;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  text-decoration: none !important;
}
.mypager_item a:visited {
  color: #ffffff;
}
.mypager_item a:hover {
  color: #ffffff;
}
.mypager_item a:active {
  color: #ffffff;
}
.mypager_item a:focus {
  color: #ffffff;
}
.mypager_item a:hover {
  background-color: #e74c3c;
}
.mypager_list {
  float: left;
  margin: 0px !important;
}
.mypager .ajax-progress {
  position: absolute;
  top: 8px;
  left: -25px;
}
.mypager .ajax-progress .throbber {
  background: transparent url("../images/ajax-loader.gif") no-repeat 0px 0px;
  /* tweak this according to your gif */
  float: left;
  height: 16px;
  /* tweak this according to your gif */
  width: 16px;
  /* tweak this according to your gif */
  margin: 0px;
}

.access {
  width: 960px;
}
.access_top {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.access_top:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .access_top {
  height: 1%;
}
.access_top h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
  width: 146px;
  float: left;
  width: 189px;
}
.access_top a {
  color: #ffffff;
  text-decoration: none;
}
.access_top a:visited {
  color: #ffffff;
}
.access_top a:hover {
  color: #ffffff;
}
.access_top a:active {
  color: #ffffff;
}
.access_top a:focus {
  color: #ffffff;
}
.access_right {
  float: right;
  display: block;
  width: 162px;
  background-color: #0e76bc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
}
.access_right:visited {
  color: #ffffff;
}
.access_right:hover {
  color: #ffffff;
}
.access_right:active {
  color: #ffffff;
}
.access_right:focus {
  color: #ffffff;
}
.access_wrap {
  padding: 18px 0px 0px 232px;
}
.access_wrap div {
  margin: 0px 0px 14px 0px;
}
.access_wrap a {
  font-family: Tahoma,Arial,Helvetica,sans-serif;
  color: #000000;
  font-size: 19px;
}
.access_wrap a:visited {
  color: #000000;
}
.access_wrap a:hover {
  color: #2c3e51;
}
.access_wrap a:active {
  color: #000000;
}
.access_wrap a:focus {
  color: #000000;
}

.access-prod {
  width: 960px;
}
.access-prod .yui-b {
  margin-left: 120px;
}
.access-prod .boxprod {
  height: 327px;
}
.access-prod .boxprod h3 {
  min-height: 51px;
}
.access-prod #bd {
  margin: 0px;
}
.access-prod #doc4 {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.access-prod #doc4:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .access-prod #doc4 {
  height: 1%;
}
.access-prod_top {
  display: inline-block;
  /* ╨Я╤А╤П╤З╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨╛╤В IE ╨┤╨╗╤П mac \*/
  * zoom: 1;
  display: block;
}
.access-prod_top:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
* html .access-prod_top {
  height: 1%;
}
.access-prod_top h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
  width: 146px;
  float: left;
  width: 189px;
}
.access-prod_top a {
  color: #ffffff;
  text-decoration: none;
}
.access-prod_top a:visited {
  color: #ffffff;
}
.access-prod_top a:hover {
  color: #ffffff;
}
.access-prod_top a:active {
  color: #ffffff;
}
.access-prod_top a:focus {
  color: #ffffff;
}
.access-prod_right {
  float: right;
  display: block;
  width: 162px;
  background-color: #0e76bc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: open-sans,sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  min-height: 30px;
  text-align: center;
}
.access-prod_right:visited {
  color: #ffffff;
}
.access-prod_right:hover {
  color: #ffffff;
}
.access-prod_right:active {
  color: #ffffff;
}
.access-prod_right:focus {
  color: #ffffff;
}

/*# sourceMappingURL=all-old-ie.css.map */
