.access-prod{
  .yui-b{
    margin-left: 120px;
  }
  .boxprod{
    height: 327px;
    h3{
      min-height: 51px;
      text-align: center;
    }
  }
  #bd{
    margin: 0px;
  }
  #doc4{
    @include clearfix();
  }
	width: 960px;
	&_top{
    @include clearfix();
    h1{
      text-transform: uppercase;
      font-weight: 800;
      font-family: open-sans,sans-serif;
      background-color: #e74c3c;
      color: #ffffff;
      font-size: 20px;
      line-height: 30px;
      min-height: 30px;
      text-align: center;
      width: 146px;
      float: left;
      width: 189px;
    }
    a{
    	@include link(#ffffff, #ffffff);
    	text-decoration: none;
    }
  }
  &_right{
  	float: right;
  	display: block;
  	width: 162px;
  	background-color: #0e76bc;
  	text-decoration: none;
  	text-transform: uppercase;
    font-weight: 800;
    font-family: open-sans,sans-serif;
    @include link(#ffffff, #ffffff);
    font-size: 20px;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
    //width: 146px;
  }
  &_wrap{
  	
  }
}