.newslist{
	width: 940px;
	padding: 0 0 15px;
	&_title{
		background-color: #e74c3c;
    color: #ffffff;
    font-family: open-sans,sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 189px;
    margin-bottom: 15px;
	}
	&_item{
		@include clearfix;
		border-top: 1px solid #ccc;
		padding: 15px 0;
		&:first-child{
			border: none;
		}
	}
	&_image{
		float: left;
	}
	&_text{
		padding-left: 280px;
		h2{
			margin-bottom: 15px;
		}
	}
}