.veloarticle{
	h1, h2{
		font-family: open-sans,sans-serif;
		background-color: #e74c3c;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    min-height: 30px;
    position: relative;
    text-align: center;
    width: 146px;
    font-weight: 800;
    text-transform: uppercase;
	}
	h2{
		margin-top: 25px;
	}
	p{
		margin-bottom: 15px;
	}
	ol{
		padding-left: 15px;
		list-style-type: decimal;
		margin-bottom: 15px;
		li{
			 list-style: outside decimal;
		}
	}
	ul{
		padding-left: 15px;
		list-style-type: disc;
		margin-bottom: 15px;
		li{
			 list-style: outside disc;
		}
	}
	.form_wrap{
		float: right;
		position: relative;
		height: 272px;
		width: 390px;
	}
	#u11666 {
    background-color: #f0f0f0;
    border-color: #c9c9c9;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 8px rgba(127, 127, 127, 0.05), 0 0 8px rgba(127, 127, 127, 0.05);
    height: 244px;
    left: 0;
    margin-right: 0;
    margin-top: 25px;
    position: absolute;
    width: 383px;
    z-index: 231;
	}
	#widgetu11667 {
    height: 245px;
    left: 0;
    margin-right: 0;
    margin-top: 32px;
    position: absolute;
    width: 0.01px;
    z-index: 232;
	}
}